<div class="bg-teal-100 mx-auto h-full flex justify-center items-center">
  <div class="w-full max-w-xs">
    <h1 class="mb-4 text-3xl m-20 text-center">J-CMS</h1>
    <div class="border-teal-400 bg-white rounded-lg shadow-lg border-t-8">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input class="block w-full bg-white border-2 border-gray-300 appearance-none hover:border-teal-400 focus:outline-none focus:border-teal-500 px-2 py-2 rounded shadow-sm" id="email" type="text" placeholder="Your Email">
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Send Link
          </button>
          <a href="/" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Cancel
          </a>
        </div>
      </form>
    </div>
    <div class="w-full max-w-xs text-center">
      <p class="text-gray-700 text-sm">Don't have an account ? <a href="#" class="no-underline text-teal-400 hover:text-teal-500 italic">Create an account</a> </p>
    </div>
    <div class="text-center text-gray-500 text-xs mt-12">
      &copy;2020 J-CMS. All rights reserved.
    </div>
  </div>
</div>